@use "palette";

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.scheme4 {
    background-color: #6b2a5f;
}

.scheme4-1 {
    background-color: #f3e6c9;
}

.scheme4-2 {
    background-color: #f3e6c9;
}

.scheme4-3 {
    background-color: #f3e6c9;
}

.scheme4-4 {
    background-color: #f3e6c9;
}
.scheme4-5 {
    background-color: #f3e6c9;
}

#logo > img {
    border-radius: 50%;
    height: auto;
    width: 3rem;
    padding: 2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Fira Code", monospace;
    font-weight: 800;
    gap: 2em;
    padding: 0.5rem 1.5rem;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: smaller;
        padding: 0%;
        margin: 0%;
        list-style: none;
        gap: 1.5em;
        color: #5e0b15;
        flex-wrap: nowrap;
    }
    &__top--list {
        text-decoration: none;
        color: #5e0b15;
    }
    &__top--list--num {
        font-weight: 800;
        margin-inline-end: 0.5em;
        color: #5e0b15;
    }
}

//mobile design - navbar
@media (max-width: 480px) {
    .navbar {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        padding: min(30vh, 75rem) 2em;
        inset: 0 0 0 30%;
        background: hsl(0 0 100%/0.1);
        backdrop-filter: blur(0.5rem);

        &__top {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }
    #resume {
        border: 2px solid #5e0b15;
        border-radius: 4px;
        color: #5e0b15;
        background-color: transparent;
        text-decoration: none;
        border-spacing: 5px;
        box-sizing: border-box;
        padding: 0.75rem 1rem;
        cursor: pointer;
    }

    .l-side {
        display: none;
    }
    .r-side {
        display: none;
    }
}
#resume {
    border: 2px solid #5e0b15;
    border-radius: 4px;
    color: #5e0b15;
    background-color: transparent;
    text-decoration: none;
    border-spacing: 5px;
    box-sizing: border-box;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

//navigation-left(social media)
.l-side {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // align-items: center;

    &__list {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        list-style: none;
        bottom: 0;
        left: 0;
    }
    .l-side-logo3:nth-last-of-type(1)::after {
        content: "";
        display: block;
        width: 1px;
        height: 5rem;
        margin: 0px auto;
        background-color: #93032e;
    }
}

.r-side {
    p {
        writing-mode: vertical-rl;
    }

    &__list {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;

        bottom: 0;
        right: 0;
        color: #93032e;
    }
}

.responsive-sidebar {
    display: grid;
    grid-template-areas:
        "header header header "
        "l-side cont r-side"
        "l-side cont r-side"
        "l-side footer r-side";
    grid-template-rows: auto;
    grid-template-columns: 0.5fr 5fr 0.5fr;
}

.header {
    grid-area: header;
}

.cont {
    grid-area: cont;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}

.intro {
    display: flex;
    flex-direction: column;
    color: #001427;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 0px;
    gap: 1rem;
}

.intro__firstsec {
    color: #001427;
    font-family: "Fira Code", monospace;
}
.intro__largetxt {
    font-size: 58px;
    color: #93032e;
    padding: 0%;
    font-style: italic;
    font-weight: 800;
}

h2 {
    color: #647d72;
}

.skills-sec {
    display: flex;
    flex-direction: column;
    color: #001427;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0px;
}

.contact-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__heading {
        font-size: 52;
    }
}
.l-side {
    grid-area: l-side;
}
.r-side {
    grid-area: r-side;
}
.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

// Project section
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // background-color: rgba(white, 0.1);

    &__group {
        // Single column list centered on small screens
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        // Centered responsive row list on larger screens

        &__item {
            padding: 20px;
            margin: 10px;

            // Each item card is 500px wide and will wrap to a single column on a small screen
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 500px;

            // Item cards will not wrap on larger screens

            // Title cards display thumbnail, name and links in a column
            &--title-card {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &--thumbnail {
                width: 200px;
                border-radius: 50px;
                filter: grayscale(100);

                &:hover {
                    filter: none;
                }
            }

            &--dscrb {
                padding: 0 20px;

                display: none;
            }
        }
    }
}

// about section

.certs {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
    max-width: inherit;

    // padding-bottom: 50px;

    &__study {
        // Responsive list of studies
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;

        &--item {
            margin: 5px 40px;

            text-align: right;

            &-text {
                margin: 5px;
                text-transform: uppercase;
                flex-wrap: nowrap;
            }
        }
    }
    &__head {
        text-align: center;
        margin-bottom: 5rem;
    }
}

.skills__card {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &--item {
        font-size: 1.4em;
        text-align: center;
        justify-content: space-around;
        align-items: center;

        &-text {
            align-items: center;
        }
        &-icon {
            align-items: center;
            padding: 2.5rem;
        }
    }
}

.contact-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    gap: 5rem;
}

.about__grp {
    &--heading {
        text-align: center;
        padding-bottom: 3rem;
    }
    &__sec {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        &--img {
            max-height: 15rem;
            // box-shadow: white 0px 0px 0px 5px , #93032e 15px -15px 0px -3px;
            box-shadow: #f3e6c9 10px -10px 0px -3px, #93032e 10px -10px;
            // #f3e6c9 30px -30px 0px -3px, #93032e 30px -30px;
        }

        &--text {
            max-width: 360px;
            margin-top: 5rem;
        }
    }
}
.contact__grp {
    &--heading {
        text-align: center;
        padding-bottom: 2rem;
    }
    &--icons {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
        padding-top: 2rem;
    }

    a:link {
        text-decoration: none;
        color: #93032e;
        font-weight: 450;
    }
    a:active {
        color: #93032e;
        font-weight: 800;
    }
    a:visited {
        color: #93032e;
        font-weight: 800;
    }
}

.heading {
    color: #93032e;
}
